# Money Control API

In [ ]:
from moneycontrol.moneycontrol_api import get_news, get_latest_news, get_business_news
import moneycontrol.moneycontrol_api as mc

In [80]:
print(mc.date_text)
print(mc.html_parser)
print(mc.link_text)
print(mc.news_type)
print(mc.title_text)
print(mc.url)

Date:
html.parser
Link:
News Type:
Title:
['https://www.moneycontrol.com/news', 'https://www.moneycontrol.com/news/business', 'https://www.moneycontrol.com/news/latest-news/']

In [81]:
get_business_news()

{'News Type:': 'Business News',
 'Title:': 'Shringar House of Mangalsutra to be second IPO hitting Dalal Street on September 10',
 'Link:': 'https://www.moneycontrol.com/news/business/ipo/shringar-house-of-mangalsutra-to-be-second-ipo-hitting-dalal-street-on-september-10-13513893.html',
 'Date:': None}

In [82]:
get_latest_news()

{'News Type:': 'Latest News',
 'Title:': '‘Hurried trail will affect rights, bail not a universal rule’: Delhi HC order denying bail to Umar, Sharjeel and others in 2020 Delhi riots case',
 'Link:': 'https://www.moneycontrol.com/news/india/hurried-trail-will-affect-rights-bail-not-a-universal-rule-delhi-hc-order-denying-bail-to-umar-sharjeel-and-others-in-2020-delhi-riots-case-13513944.html',
 'Date:': 'September 02, 2025 09:31 PM'}

In [83]:
get_news()

Money Control API has only news APIs.<br/>
Still, It returns only the link. And must be scraped and parsed via Beautiful Soup

# Yahoo Finance API

In [1]:
import yfinance as yf

In [3]:
dat = yf.Ticker("VEDL.NS")

In [86]:
dat.info

{'address1': 'Unit 103, Corporate Avenue',
 'address2': '1st Floor, C wing Atul Projects, Chakala Andheri (East)',
 'city': 'Mumbai',
 'zip': '400093',
 'country': 'India',
 'phone': '91 22 6643 4500',
 'fax': '91 22 6643 4530',
 'website': 'https://www.vedantalimited.com',
 'industry': 'Other Industrial Metals & Mining',
 'industryKey': 'other-industrial-metals-mining',
 'industryDisp': 'Other Industrial Metals & Mining',
 'sector': 'Basic Materials',
 'sectorKey': 'basic-materials',
 'sectorDisp': 'Basic Materials',
 'longBusinessSummary': 'Vedanta Limited, a diversified natural resources company, explores, extracts, and processes minerals, and oil and gas in India, Europe, China, the United States, Mexico, and internationally. The company operates through seven reportable segments: Copper, Aluminium, Iron Ore, Power, Zinc India, Zinc International, Oil and Gas, and Others. It explores, produces, and sells oil and gas, zinc, lead, silver, copper, aluminum, steel, pig iron, chrome ores, and metallurgical coke. The company also operates a thermal coal-based commercial power facility of 600 megawatts (MW) at Jharsuguda in Odisha; a 1,200 MW thermal coal-based power plants in the Chhattisgarh; 1,980 MW thermal coal- based commercial power facilities in Punjab; wind power plants; a 1,000 MW coal-based power plant at Nellore, Andhra Pradesh; and power plants located at Mettur Dam in the state of Tamil Nadu in southern India. In addition, it manufactures and supplies billets, TMT bars, wire rods, and ductile iron pipes; mechanizes coal handling facilities and upgrades general cargo berth for handling coal at the outer harbor of Visakhapatnam Port on the east coast of India; offers port/berth services; and manufactures glass substrates, semiconductor, display glass panels, ferro alloys, and slag cements. The company was formerly known as Sesa Sterlite Limited and changed its name to Vedanta Limited in March 2015. The company was founded in 1954 and is headquartered in Mumbai, India.',
 'fullTimeEmployees': 17332,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Navin Kumar Agarwal',
   'age': 63,
   'title': 'Executive Vice Chairman',
   'yearBorn': 1961,
   'fiscalYear': 2025,
   'totalPay': 235165277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Arun  Misra',
   'age': 59,
   'title': 'CEO of Zinc Business & Executive Director',
   'yearBorn': 1965,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ajay Kumar Goel',
   'age': 49,
   'title': 'Chief Financial Officer',
   'yearBorn': 1975,
   'fiscalYear': 2025,
   'totalPay': 2970000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Charanjit  Singh',
   'title': 'Group Head of Investor Relations',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Prerna  Halwasiya',
   'title': 'Deputy Head Investor Relations, Company Secretary & Compliance Officer',
   'fiscalYear': 2025,
   'totalPay': 4635176,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Swapnil  Patil',
   'title': 'Head of Commodities Procurement- Pig Iron Business',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Manish  Gupta',
   'age': 56,
   'title': 'Head of Ports',
   'yearBorn': 1968,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Deodatta  Padgaonkar',
   'age': 50,
   'title': 'Senior VP of MAS & Risk Officer',
   'yearBorn': 1974,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pushpender  Singla',
   'age': 41,
   'title': 'Chief Financial Officer of Zinc International Division & CMT',
   'yearBorn': 1983,
   'fiscalYear': 2025,
   'totalPay': 16000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Anand  Soni',
   'age': 43,
   'title': 'Chief Financial Officer of Copper Operations - Tuticorin & Silvassa',
   'yearBorn': 1981,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 10,
 'compensationRisk': 4,
 'shareHolderRightsRisk': 4,
 'overallRisk': 10,
 'governanceEpochDate': 1756684800,
 'compensationAsOfEpochDate': 1767139200,
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 431.0,
 'open': 432.0,
 'dayLow': 423.4,
 'dayHigh': 435.35,
 'regularMarketPreviousClose': 431.0,
 'regularMarketOpen': 432.0,
 'regularMarketDayLow': 423.4,
 'regularMarketDayHigh': 435.35,
 'dividendRate': 51.5,
 'dividendYield': 11.95,
 'exDividendDate': 1756166400,
 'payoutRatio': 1.0647,
 'fiveYearAvgDividendYield': 15.86,
 'beta': 0.889,
 'trailingPE': 11.630288,
 'forwardPE': 8.73154,
 'volume': 6419774,
 'regularMarketVolume': 6419774,
 'averageVolume': 8177404,
 'averageVolume10days': 11477000,
 'averageDailyVolume10Day': 11477000,
 'bid': 0.0,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 1685726035968,
 'fiftyTwoWeekLow': 363.0,
 'fiftyTwoWeekHigh': 526.95,
 'priceToSalesTrailing12Months': 1.0979711,
 'fiftyDayAverage': 443.136,
 'twoHundredDayAverage': 441.3985,
 'trailingAnnualDividendRate': 39.5,
 'trailingAnnualDividendYield': 0.091647334,
 'currency': 'INR',
 'tradeable': False,
 'enterpriseValue': 2373844992000,
 'profitMargins': 0.09488,
 'floatShares': 1616958769,
 'sharesOutstanding': 3905299968,
 'heldPercentInsiders': 0.58525,
 'heldPercentInstitutions': 0.21153,
 'impliedSharesOutstanding': 3905760000,
 'bookValue': 105.52,
 'priceToBook': 4.09022,
 'lastFiscalYearEnd': 1743379200,
 'nextFiscalYearEnd': 1774915200,
 'mostRecentQuarter': 1751241600,
 'earningsQuarterlyGrowth': -0.117,
 'netIncomeToCommon': 145669996544,
 'trailingEps': 37.11,
 'forwardEps': 49.43,
 'lastSplitFactor': '10:1',
 'lastSplitDate': 1218153600,
 'enterpriseToRevenue': 1.546,
 'enterpriseToEbitda': 5.62,
 '52WeekChange': -0.072220445,
 'SandP52WeekChange': 0.16844666,
 'lastDividendValue': 16.0,
 'lastDividendDate': 1756166400,
 'quoteType': 'EQUITY',
 'currentPrice': 431.6,
 'targetHighPrice': 601.0,
 'targetLowPrice': 435.0,
 'targetMeanPrice': 503.86667,
 'targetMedianPrice': 500.0,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 15,
 'totalCash': 187619999744,
 'totalCashPerShare': 48.039,
 'ebitda': 422392496128,
 'totalDebt': 752740007936,
 'totalRevenue': 1535310036992,
 'debtToEquity': 140.037,
 'revenuePerShare': 394.091,
 'grossProfits': 750229979136,
 'earningsGrowth': -0.161,
 'revenueGrowth': 0.062,
 'grossMargins': 0.48865002,
 'ebitdaMargins': 0.27512,
 'operatingMargins': 0.18951,
 'financialCurrency': 'INR',
 'symbol': 'VEDL.NS',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'exchange': 'NSI',
 'messageBoardId': 'finmb_878252',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'gmtOffSetMilliseconds': 19800000,
 'market': 'in_market',
 'esgPopulated': False,
 'regularMarketChangePercent': 0.13921255,
 'regularMarketPrice': 431.6,
 'marketState': 'POSTPOST',
 'fiftyTwoWeekChangePercent': -7.2220445,
 'earningsTimestamp': 1753956000,
 'earningsTimestampStart': 1753956000,
 'earningsTimestampEnd': 1753956000,
 'earningsCallTimestampStart': 1753961400,
 'earningsCallTimestampEnd': 1753961400,
 'isEarningsDateEstimate': False,
 'epsTrailingTwelveMonths': 37.11,
 'epsForward': 49.43,
 'epsCurrentYear': 42.3408,
 'priceEpsCurrentYear': 10.193478,
 'fiftyDayAverageChange': -11.53598,
 'fiftyDayAverageChangePercent': -0.026032597,
 'twoHundredDayAverageChange': -9.798492,
 'twoHundredDayAverageChangePercent': -0.022198744,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 15,
 'averageAnalystRating': '1.8 - Buy',
 'cryptoTradeable': False,
 'corporateActions': [],
 'regularMarketTime': 1756807203,
 'shortName': 'VEDANTA LIMITED',
 'longName': 'Vedanta Limited',
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 820467900000,
 'regularMarketChange': 0.6000061,
 'regularMarketDayRange': '423.4 - 435.35',
 'fullExchangeName': 'NSE',
 'averageDailyVolume3Month': 8177404,
 'fiftyTwoWeekLowChange': 68.600006,
 'fiftyTwoWeekLowChangePercent': 0.18898073,
 'fiftyTwoWeekRange': '363.0 - 526.95',
 'fiftyTwoWeekHighChange': -95.350006,
 'fiftyTwoWeekHighChangePercent': -0.18094696,
 'trailingPegRatio': None}

In [87]:
dat.get_news()

[{'id': 'e4d2b2b3-ed14-377a-829f-d8cce2c23bfa',
  'content': {'id': 'e4d2b2b3-ed14-377a-829f-d8cce2c23bfa',
   'contentType': 'STORY',
   'title': 'Vedanta faces government objections over demerger',
   'description': '',
   'summary': 'The government accused Vedanta of altering the demerger scheme post-approval from the SEBI.',
   'pubDate': '2025-08-21T11:04:19Z',
   'displayTime': '2025-08-21T11:04:19Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/mining_technology_700/824bfc723f63a83e75927a6a1dbb5168',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'In December',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/1S8jmDFgE_bMcmjYozfjUg--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/mining_technology_700/824bfc723f63a83e75927a6a1dbb5168',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/FvgttjtO.gEen9uV5QX3wQ--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/mining_technology_700/824bfc723f63a83e75927a6a1dbb5168',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Mining Technology',
    'url': 'https://www.globaldata.com/'},
   'canonicalUrl': {'url': 'https://www.mining-technology.com/news/vedanta-restructuring-four-new-entities/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/vedanta-faces-government-objections-over-110419966.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '1f2987c7-ac1d-3c47-abf2-70f647068105',
  'content': {'id': '1f2987c7-ac1d-3c47-abf2-70f647068105',
   'contentType': 'STORY',
   'title': "Indian miner Vedanta's demerger faces government pushback, CNBC-TV18 reports",
   'description': '',
   'summary': 'At a hearing conducted by the National Company Law Tribunal, the Indian government alleged that Vedanta modified the demerger scheme after securing a no objection certificate from the Securities and Exchange Board of India, CNBC said.  The NCLT is a quasi-judicial body that adjudicates matters related to companies.',
   'pubDate': '2025-08-20T07:24:46Z',
   'displayTime': '2025-08-20T07:24:46Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/reuters.com/931b05b19a1019e9d6e6a4e00b930bf2',
    'originalWidth': 800,
    'originalHeight': 562,
    'caption': 'A bird flies past the logo of Vedanta installed on the facade of its headquarters in Mumbai',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/O6hmY6_i9uUdv5gDDAhrCA--~B/aD01NjI7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/931b05b19a1019e9d6e6a4e00b930bf2',
      'width': 800,
      'height': 562,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/iqUp_NaUDoVRfDqexh_qAg--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/931b05b19a1019e9d6e6a4e00b930bf2',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Reuters', 'url': 'https://www.reuters.com/'},
   'canonicalUrl': {'url': 'https://sg.finance.yahoo.com/news/indian-miner-vedantas-demerger-faces-072446876.html',
    'site': 'finance',
    'region': 'SG',
    'lang': 'en-SG'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/indian-miner-vedantas-demerger-faces-072446876.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'a6559edb-c802-3abe-9e46-e54ce17aa365',
  'content': {'id': 'a6559edb-c802-3abe-9e46-e54ce17aa365',
   'contentType': 'STORY',
   'title': 'Vedanta, PureTech’s microbiome startup, to cut staff after study setback',
   'description': '',
   'summary': 'The result marks the latest failure for a microbiome\xa0therapy in inflammatory bowel disease, which has long been a top target of Vedanta and other companies like it.',
   'pubDate': '2025-08-14T07:53:00Z',
   'displayTime': '2025-08-14T07:53:00Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/biopharma_dive_768/46df78207e3a4a06b689530c193e2cba',
    'originalWidth': 1600,
    'originalHeight': 900,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/0Ov3HHt7mhwhgLNvk20ytg--~B/aD05MDA7dz0xNjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/biopharma_dive_768/46df78207e3a4a06b689530c193e2cba',
      'width': 1600,
      'height': 900,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/uTf3NtXwRVyNjE7aX.I4Rg--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/biopharma_dive_768/46df78207e3a4a06b689530c193e2cba',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'BioPharma Dive',
    'url': 'https://biopharmadive.com/'},
   'canonicalUrl': {'url': 'https://www.biopharmadive.com/news/vedanta-layoffs-ulcerative-colitis-study-results-microbiome-puretech/757650/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/vedanta-puretech-microbiome-startup-cut-075300234.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'e201f443-7916-3dfd-9ecd-6dc0c232082d',
  'content': {'id': 'e201f443-7916-3dfd-9ecd-6dc0c232082d',
   'contentType': 'STORY',
   'title': 'Asian Energy Services secures $100m integrated service contract from Vedanta',
   'description': '',
   'summary': 'The order, which includes field development and O&M services, will be executed over a period of 57 months.',
   'pubDate': '2025-07-28T11:05:02Z',
   'displayTime': '2025-07-28T11:05:02Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/offshore_technology_431/58bb700807892d69cb8bf4795c740ec5',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'Asian Energy Services offers integrated oil and gas services such as 2D and 3D seismic geographical data acquisition. Credit: T. Schneider/Shutterstock.com.',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ATjwSBHsOtZuYvZHDpVh7Q--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/offshore_technology_431/58bb700807892d69cb8bf4795c740ec5',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/cgPyTi6PuhyCCBkxMd8jAQ--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/offshore_technology_431/58bb700807892d69cb8bf4795c740ec5',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Offshore Technology',
    'url': 'https://www.globaldata.com/'},
   'canonicalUrl': {'url': 'https://www.offshore-technology.com/news/asian-energy-services-vedanta-contract/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/asian-energy-services-secures-100m-110502510.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '508cb0f5-85ee-3ee5-98ee-ad887363fddf',
  'content': {'id': '508cb0f5-85ee-3ee5-98ee-ad887363fddf',
   'contentType': 'STORY',
   'title': 'Vedanta plans Zambian smelter refurbishment to boost copper output',
   'description': '',
   'summary': "Despite ambitions to reach an annual production of 300,000t, KCM's current output is less than 10% of this target.",
   'pubDate': '2025-07-17T11:29:33Z',
   'displayTime': '2025-07-17T11:29:33Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/mining_technology_700/82d4018b8171868e941b74ed41826939',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'Vedanta',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/fSfH2iwC3kwKj7jzRDFxww--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/mining_technology_700/82d4018b8171868e941b74ed41826939',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/zOjj7n.KVlmC2TyjrDc6tA--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/mining_technology_700/82d4018b8171868e941b74ed41826939',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Mining Technology',
    'url': 'https://www.globaldata.com/'},
   'canonicalUrl': {'url': 'https://www.mining-technology.com/news/konkola-copper-mines-smelter-refurbishment/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/vedanta-plans-zambian-smelter-refurbishment-112933375.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'b4f60442-bc31-3f1c-a03b-2764e418671b',
  'content': {'id': 'b4f60442-bc31-3f1c-a03b-2764e418671b',
   'contentType': 'STORY',
   'title': "Viceroy Research takes short position on Vedanta Resources' debt",
   'description': '',
   'summary': '(Reuters) -U.S.-based Viceroy Research has taken a short position against the debt of Vedanta Resources, the UK-based parent of Indian miner Vedanta, alleging that the British firm is "systematically draining" its Indian unit.  A spokesperson for the Vedanta Group said that the report was "a malicious combination of selective misinformation and baseless allegations" and that its authors issued it without contacting the group.  Group Chairman Anil Agarwal launched a plan a year earlier to overhaul the business after an unsuccessful attempt to take Vedanta private in 2020.',
   'pubDate': '2025-07-09T07:17:20Z',
   'displayTime': '2025-07-09T07:17:20Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/reuters-finance.com/b1cf604d5a1b5b0e5e4f6a216d73b55a',
    'originalWidth': 800,
    'originalHeight': 562,
    'caption': 'FILE PHOTO: A bird flies past the logo of Vedanta installed on the facade of its headquarters in Mumbai',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/R5LKS2GNPyEBPGZJ9s9Itw--~B/aD01NjI7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/b1cf604d5a1b5b0e5e4f6a216d73b55a',
      'width': 800,
      'height': 562,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/jL13bePfK3_.Dg5BicM8wA--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/b1cf604d5a1b5b0e5e4f6a216d73b55a',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Reuters', 'url': 'http://www.reuters.com/'},
   'canonicalUrl': {'url': 'https://finance.yahoo.com/news/viceroy-research-takes-short-position-071720742.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/viceroy-research-takes-short-position-071720742.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'd2795a86-5d54-3766-8ac9-ec6aa1f13d11',
  'content': {'id': 'd2795a86-5d54-3766-8ac9-ec6aa1f13d11',
   'contentType': 'STORY',
   'title': "Billionaire Agarwal's Vedanta Resources secures up to $600 million to refinance debt",
   'description': '',
   'summary': "Easing risks around refinancing - in which existing loans are replaced with a new one, typically at more favorable terms such as lower interest rates - prompted agencies such as S&P Global Ratings and Moody's to upgrade their ratings on the company this year.  Standard Chartered Bank and its Mauritius unit, First Abu Dhabi Bank, Mashreqbank and Sumitomo Mitsui Banking Corp are the lenders in the transaction, Vedanta Ltd said in an exchange filing on Thursday.  UK-based Vedanta Resources, owned by Indian billionaire Anil Agarwal, has been focused on trimming its debt pile and brought down its net debt by $1.2 billion to $11.1 billion in fiscal 2025.",
   'pubDate': '2025-06-26T13:33:08Z',
   'displayTime': '2025-06-26T13:33:08Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/reuters.com/c7e2ff4579d71a56dd7af623f20a3e29',
    'originalWidth': 800,
    'originalHeight': 570,
    'caption': 'Anil Agarwal poses after an interview with Reuters in Alpine resort of Davos',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/u9_uR_PKSc7uX4AJeeZIHg--~B/aD01NzA7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/c7e2ff4579d71a56dd7af623f20a3e29',
      'width': 800,
      'height': 570,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/Xqst0QDlAr9nLwZIfO.wvw--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/c7e2ff4579d71a56dd7af623f20a3e29',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Reuters', 'url': 'https://www.reuters.com/'},
   'canonicalUrl': {'url': 'https://sg.finance.yahoo.com/news/billionaire-agarwals-vedanta-resources-secures-133308408.html',
    'site': 'finance',
    'region': 'SG',
    'lang': 'en-SG'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/billionaire-agarwals-vedanta-resources-secures-133308408.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'a2b411dd-eaee-39b0-9001-b7357b38f426',
  'content': {'id': 'a2b411dd-eaee-39b0-9001-b7357b38f426',
   'contentType': 'STORY',
   'title': 'Vedanta Ltd (BOM:500295) Q4 2025 Earnings Call Highlights: Record Profits and Strategic ...',
   'description': '',
   'summary': 'Vedanta Ltd (BOM:500295) reports significant growth in revenue and profits, while navigating economic uncertainties and operational hurdles.',
   'pubDate': '2025-05-01T07:05:43Z',
   'displayTime': '2025-05-01T07:05:43Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/us.finance.gurufocus/05fcd2362c5cb11cf065f31341b384e5',
    'originalWidth': 400,
    'originalHeight': 400,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/fvp0mAX2zUUcqVP3WzXLyA--~B/aD00MDA7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/us.finance.gurufocus/05fcd2362c5cb11cf065f31341b384e5',
      'width': 400,
      'height': 400,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/D5KtMh_34qM2aQJYyX1P4g--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/us.finance.gurufocus/05fcd2362c5cb11cf065f31341b384e5',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'GuruFocus.com',
    'url': 'http://www.gurufocus.com/'},
   'canonicalUrl': {'url': 'https://finance.yahoo.com/news/vedanta-ltd-bom-500295-q4-070543511.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/vedanta-ltd-bom-500295-q4-070543511.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'fa4eaafd-85de-35c2-afc5-5e856d393aa9',
  'content': {'id': 'fa4eaafd-85de-35c2-afc5-5e856d393aa9',
   'contentType': 'STORY',
   'title': "Indian miner Vedanta's shareholders, creditors clear way for five-way split",
   'description': '',
   'summary': "Group Chairman Anil Agarwal launched the plan to overhaul the business in 2023 following an unsuccessful attempt to take Vedanta private in 2020 as its UK parent Vedanta Resources chips away at its debt pile, which stood at $11.36 billion as of September 2024.  The five entities from the split would include Vedanta Limited, which will house the company's base metals business, Vedanta Aluminium, Talwandi Sabo Power, Vedanta Steel and Iron, and Malco Energy.",
   'pubDate': '2025-02-20T03:57:30Z',
   'displayTime': '2025-02-20T03:57:30Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/reuters.com/4a1939c5541a592a1e75339bea956050',
    'originalWidth': 800,
    'originalHeight': 562,
    'caption': 'FILE PHOTO: A bird flies past the logo of Vedanta installed on the facade of its headquarters in Mumbai',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/_lOdJ4sBSfPk8t0lP2Yn4g--~B/aD01NjI7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/4a1939c5541a592a1e75339bea956050',
      'width': 800,
      'height': 562,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/tiKHxuYUswkLAwqybaz6OA--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/4a1939c5541a592a1e75339bea956050',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Reuters', 'url': 'https://www.reuters.com/'},
   'canonicalUrl': {'url': 'https://sg.finance.yahoo.com/news/indian-miner-vedantas-shareholders-creditors-035730815.html',
    'site': 'finance',
    'region': 'SG',
    'lang': 'en-SG'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/indian-miner-vedantas-shareholders-creditors-035730815.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '7b4c4536-55d2-33a7-87f3-bcec03a289a2',
  'content': {'id': '7b4c4536-55d2-33a7-87f3-bcec03a289a2',
   'contentType': 'STORY',
   'title': 'Vedanta Ltd (BOM:500295) Q3 2025 Earnings Call Highlights: Record EBITDA and Strategic ...',
   'description': '',
   'summary': 'Vedanta Ltd (BOM:500295) reports a robust quarter with significant gains in aluminum production and sustainability, despite facing operational and debt challenges.',
   'pubDate': '2025-02-03T07:00:22Z',
   'displayTime': '2025-02-03T07:00:22Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/us.finance.gurufocus/decaf2caf4e616528fed43def1287524',
    'originalWidth': 400,
    'originalHeight': 400,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/EyH5HY.zBNfgv7SeZSCNoA--~B/aD00MDA7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/us.finance.gurufocus/decaf2caf4e616528fed43def1287524',
      'width': 400,
      'height': 400,

In [88]:
dat.actions

                           Dividends  Stock Splits
Date
1998-08-03 00:00:00+05:30     0.0625           0.0
1999-08-30 00:00:00+05:30     0.0625           0.0
2000-04-13 00:00:00+05:30     0.0375           0.0
2001-07-23 00:00:00+05:30     0.0750           0.0
2002-06-20 00:00:00+05:30     0.0750           0.0
2003-09-09 00:00:00+05:30     0.0625           0.0
2004-02-12 00:00:00+05:30     0.0500           0.0
2004-06-28 00:00:00+05:30     0.2000           0.0
2005-01-06 00:00:00+05:30     0.1250           0.0
2005-02-16 00:00:00+05:30     0.0000           2.0
2005-07-11 00:00:00+05:30     1.0000           0.0
2006-03-13 00:00:00+05:30     0.7500           0.0
2006-12-04 00:00:00+05:30     1.2500           0.0
2007-02-19 00:00:00+05:30     0.7500           0.0
2007-09-21 00:00:00+05:30     1.2500           0.0
2008-02-06 00:00:00+05:30     0.7500           0.0
2008-07-11 00:00:00+05:30     1.5000           0.0
2008-08-08 00:00:00+05:30     0.0000          10.0
2009-07-31 00:00:00+05:30     2.2500           0.0
2010-07-02 00:00:00+05:30     3.2500           0.0
2011-06-30 00:00:00+05:30     3.5000           0.0
2012-02-01 00:00:00+05:30     2.0000           0.0
2012-06-08 00:00:00+05:30     2.0000           0.0
2013-05-31 00:00:00+05:30     0.1000           0.0
2013-11-06 00:00:00+05:30     1.5000           0.0
2014-07-04 00:00:00+05:30     1.7500           0.0
2014-11-03 00:00:00+05:30     1.7500           0.0
2015-07-06 00:00:00+05:30     2.3500           0.0
2015-10-30 00:00:00+05:30     3.5000           0.0
2016-11-07 00:00:00+05:30     1.7500           0.0
2017-04-11 00:00:00+05:30    17.7000           0.0
2018-03-20 00:00:00+05:30    21.2000           0.0
2018-11-06 00:00:00+05:30    17.0000           0.0
2019-03-13 00:00:00+05:30     1.8500           0.0
2020-03-05 00:00:00+05:30     3.9000           0.0
2020-10-28 00:00:00+05:30     9.5000           0.0
2021-09-08 00:00:00+05:30    18.5000           0.0
2021-12-17 00:00:00+05:30    13.5000           0.0
2022-03-09 00:00:00+05:30    13.0000           0.0
2022-05-06 00:00:00+05:30    31.5000           0.0
2022-07-26 00:00:00+05:30    19.5000           0.0
2022-11-29 00:00:00+05:30    17.5000           0.0
2023-02-03 00:00:00+05:30    12.5000           0.0
2023-04-06 00:00:00+05:30    20.5000           0.0
2023-05-30 00:00:00+05:30    18.5000           0.0
2023-12-27 00:00:00+05:30    11.0000           0.0
2024-05-24 00:00:00+05:30    11.0000           0.0
2024-08-02 00:00:00+05:30     4.0000           0.0
2024-09-10 00:00:00+05:30    20.0000           0.0
2024-12-24 00:00:00+05:30     8.5000           0.0
2025-06-24 00:00:00+05:30     7.0000           0.0
2025-08-26 00:00:00+05:30    16.0000           0.0

In [89]:
dat.analyst_price_targets

{'current': 431.6,
 'high': 601.0,
 'low': 435.0,
 'mean': 503.86667,
 'median': 500.0}

In [90]:
dat.balance_sheet

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Treasury Shares Number,5.083517e+06,7.866397e+06,4.005075e+06,8.693406e+06,NaN
Ordinary Shares Number,3.905305e+09,3.709340e+09,3.713194e+09,3.708506e+09,NaN
Share Issued,3.910388e+09,3.717206e+09,3.717199e+09,3.717199e+09,NaN
Net Debt,6.985900e+11,6.894500e+11,5.924600e+11,4.441300e+11,NaN
Total Debt,7.518500e+11,7.277000e+11,6.661800e+11,5.355800e+11,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,2.105400e+11,1.742300e+11,1.851500e+11,4.016800e+11,NaN
Other Short Term Investments,1.706100e+11,1.461100e+11,1.158900e+11,3.149700e+11,NaN
Cash And Cash Equivalents,3.993000e+10,2.812000e+10,6.926000e+10,8.671000e+10,NaN
Cash Equivalents,9.130000e+09,1.290000e+09,8.480000e+09,3.263000e+10,NaN
Cash Financial,3.080000e+10,2.683000e+10,6.078000e+10,5.408000e+10,NaN

In [91]:
dat.balancesheet

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Treasury Shares Number,5.083517e+06,7.866397e+06,4.005075e+06,8.693406e+06,NaN
Ordinary Shares Number,3.905305e+09,3.709340e+09,3.713194e+09,3.708506e+09,NaN
Share Issued,3.910388e+09,3.717206e+09,3.717199e+09,3.717199e+09,NaN
Net Debt,6.985900e+11,6.894500e+11,5.924600e+11,4.441300e+11,NaN
Total Debt,7.518500e+11,7.277000e+11,6.661800e+11,5.355800e+11,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,2.105400e+11,1.742300e+11,1.851500e+11,4.016800e+11,NaN
Other Short Term Investments,1.706100e+11,1.461100e+11,1.158900e+11,3.149700e+11,NaN
Cash And Cash Equivalents,3.993000e+10,2.812000e+10,6.926000e+10,8.671000e+10,NaN
Cash Equivalents,9.130000e+09,1.290000e+09,8.480000e+09,3.263000e+10,NaN
Cash Financial,3.080000e+10,2.683000e+10,6.078000e+10,5.408000e+10,NaN

In [92]:
dat.calendar

{'Ex-Dividend Date': datetime.date(2025, 8, 26),
 'Earnings Date': [datetime.date(2025, 7, 31)],
 'Earnings High': None,
 'Earnings Low': None,
 'Earnings Average': None,
 'Revenue High': 373900000000,
 'Revenue Low': 373900000000,
 'Revenue Average': 373900000000}

In [95]:
dat.capital_gains

Series([], dtype: object)

In [96]:
dat.cash_flow

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Free Cash Flow,2.255700e+11,1.890200e+11,1.927800e+11,2.433300e+11,NaN
Repurchase Of Capital Stock,-4.200000e+08,-2.000000e+09,0.000000e+00,NaN,0.0
Repayment Of Debt,-3.830900e+11,-3.143300e+11,-2.973400e+11,-3.909500e+11,NaN
Issuance Of Debt,3.967700e+11,3.624800e+11,4.247000e+11,3.504700e+11,NaN
Issuance Of Capital Stock,8.458000e+10,-2.000000e+09,0.000000e+00,NaN,0.0
...,...,...,...,...,...
Gain Loss On Investment Securities,-2.970000e+09,-3.460000e+09,-7.400000e+08,-2.090000e+09,NaN
Net Foreign Currency Exchange Gain Loss,5.700000e+08,2.630000e+09,4.920000e+09,2.350000e+09,NaN
Gain Loss On Sale Of PPE,-1.910000e+09,1.140000e+09,9.000000e+07,-1.280000e+09,NaN
Gain Loss On Sale Of Business,NaN,-1.780000e+09,0.000000e+00,NaN,NaN
Net Income From Continuing Operations,2.687700e+11,2.036500e+11,2.027600e+11,3.296400e+11,NaN

In [97]:
dat.cashflow

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Free Cash Flow,2.255700e+11,1.890200e+11,1.927800e+11,2.433300e+11,NaN
Repurchase Of Capital Stock,-4.200000e+08,-2.000000e+09,0.000000e+00,NaN,0.0
Repayment Of Debt,-3.830900e+11,-3.143300e+11,-2.973400e+11,-3.909500e+11,NaN
Issuance Of Debt,3.967700e+11,3.624800e+11,4.247000e+11,3.504700e+11,NaN
Issuance Of Capital Stock,8.458000e+10,-2.000000e+09,0.000000e+00,NaN,0.0
...,...,...,...,...,...
Gain Loss On Investment Securities,-2.970000e+09,-3.460000e+09,-7.400000e+08,-2.090000e+09,NaN
Net Foreign Currency Exchange Gain Loss,5.700000e+08,2.630000e+09,4.920000e+09,2.350000e+09,NaN
Gain Loss On Sale Of PPE,-1.910000e+09,1.140000e+09,9.000000e+07,-1.280000e+09,NaN
Gain Loss On Sale Of Business,NaN,-1.780000e+09,0.000000e+00,NaN,NaN
Net Income From Continuing Operations,2.687700e+11,2.036500e+11,2.027600e+11,3.296400e+11,NaN

In [99]:
dat.dividends

Date
1998-08-03 00:00:00+05:30     0.0625
1999-08-30 00:00:00+05:30     0.0625
2000-04-13 00:00:00+05:30     0.0375
2001-07-23 00:00:00+05:30     0.0750
2002-06-20 00:00:00+05:30     0.0750
2003-09-09 00:00:00+05:30     0.0625
2004-02-12 00:00:00+05:30     0.0500
2004-06-28 00:00:00+05:30     0.2000
2005-01-06 00:00:00+05:30     0.1250
2005-07-11 00:00:00+05:30     1.0000
2006-03-13 00:00:00+05:30     0.7500
2006-12-04 00:00:00+05:30     1.2500
2007-02-19 00:00:00+05:30     0.7500
2007-09-21 00:00:00+05:30     1.2500
2008-02-06 00:00:00+05:30     0.7500
2008-07-11 00:00:00+05:30     1.5000
2009-07-31 00:00:00+05:30     2.2500
2010-07-02 00:00:00+05:30     3.2500
2011-06-30 00:00:00+05:30     3.5000
2012-02-01 00:00:00+05:30     2.0000
2012-06-08 00:00:00+05:30     2.0000
2013-05-31 00:00:00+05:30     0.1000
2013-11-06 00:00:00+05:30     1.5000
2014-07-04 00:00:00+05:30     1.7500
2014-11-03 00:00:00+05:30     1.7500
2015-07-06 00:00:00+05:30     2.3500
2015-10-30 00:00:00+05:30     3.5000
2016-11-07 00:00:00+05:30     1.7500
2017-04-11 00:00:00+05:30    17.7000
2018-03-20 00:00:00+05:30    21.2000
2018-11-06 00:00:00+05:30    17.0000
2019-03-13 00:00:00+05:30     1.8500
2020-03-05 00:00:00+05:30     3.9000
2020-10-28 00:00:00+05:30     9.5000
2021-09-08 00:00:00+05:30    18.5000
2021-12-17 00:00:00+05:30    13.5000
2022-03-09 00:00:00+05:30    13.0000
2022-05-06 00:00:00+05:30    31.5000
2022-07-26 00:00:00+05:30    19.5000
2022-11-29 00:00:00+05:30    17.5000
2023-02-03 00:00:00+05:30    12.5000
2023-04-06 00:00:00+05:30    20.5000
2023-05-30 00:00:00+05:30    18.5000
2023-12-27 00:00:00+05:30    11.0000
2024-05-24 00:00:00+05:30    11.0000
2024-08-02 00:00:00+05:30     4.0000
2024-09-10 00:00:00+05:30    20.0000
2024-12-24 00:00:00+05:30     8.5000
2025-06-24 00:00:00+05:30     7.0000
2025-08-26 00:00:00+05:30    16.0000
Name: Dividends, dtype: float64

In [100]:
dat.earnings

c:\Projects\Market\venv\Lib\site-packages\yfinance\scrapers\fundamentals.py:36: DeprecationWarning: 'Ticker.earnings' is deprecated as not available via API. Look for "Net Income" in Ticker.income_stmt.
  warnings.warn("'Ticker.earnings' is deprecated as not available via API. Look for \"Net Income\" in Ticker.income_stmt.", DeprecationWarning)

In [101]:
dat.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%) Event Type
Earnings Date
2025-04-30 15:03:00+05:30         10.63          8.85       -16.77   Earnings
2025-01-31 14:42:00+05:30          8.90          9.02         1.35   Earnings
2024-11-08 14:22:00+05:30          6.03          4.50       -25.41   Earnings
2024-08-06 14:05:00+05:30          5.25          9.64        83.62   Earnings
2024-04-25 16:52:00+05:30          4.40          4.14        -5.91   Earnings
2024-01-25 15:52:00+05:30          3.10          5.38        73.55   Earnings
2023-07-21 18:31:00+05:30           NaN          2.30          NaN   Earnings
2023-05-12 15:20:00+05:30          6.50          8.62        32.62   Earnings

In [104]:
dat.earnings_history

            epsActual  epsEstimate  epsDifference  surprisePercent
quarter
2024-09-30       8.20        6.700           1.50           0.2239
2024-12-31       9.02        8.050           0.97           0.1205
2025-03-31       8.85        8.675           0.17           0.0202
2025-06-30       8.09        7.750           0.34           0.0439

In [105]:
dat.earnings_estimate

            avg   low  high  yearAgoEps  numberOfAnalysts  growth
period
0q          NaN   NaN   NaN         NaN               NaN     NaN
+1q         NaN   NaN   NaN         NaN               NaN     NaN
0y      42.3408  32.4  50.3     34.9696              14.0  0.2108
+1y     50.0175  40.1  62.0     42.3408              13.0  0.1813

In [106]:
dat.eps_revisions

        upLast7days  upLast30days  downLast30days  downLast7Days
period
0q              NaN           NaN             NaN            NaN
+1q             NaN           NaN             NaN            NaN
0y              1.0           5.0             6.0            0.0
+1y             0.0           3.0             6.0            1.0

In [107]:
dat.eps_trend

        current  7daysAgo  30daysAgo  60daysAgo  90daysAgo
period
0q          NaN       NaN        NaN        NaN        NaN
+1q         NaN       NaN        NaN        NaN        NaN
0y      42.3408  42.34027   42.72434   42.93667   42.32970
+1y     50.0175  50.02001   51.88565   51.87205   51.73359

In [108]:
dat.financials

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Tax Effect Of Unusual Items,4.941600e+09,8.601000e+09,-6.328000e+08,-1.822800e+09,NaN
Tax Rate For Calcs,2.400000e-01,3.000000e-01,2.800000e-01,2.800000e-01,NaN
Normalized EBITDA,4.483300e+11,3.667500e+11,3.694500e+11,4.703200e+11,NaN
Total Unusual Items,2.059000e+10,2.867000e+10,-2.260000e+09,-6.510000e+09,NaN
Total Unusual Items Excluding Goodwill,2.059000e+10,2.867000e+10,-2.260000e+09,-6.510000e+09,NaN
Net Income From Continuing Operation Net Minority Interest,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Reconciled Depreciation,1.113900e+11,1.074400e+11,1.059700e+11,8.919000e+10,NaN
Reconciled Cost Of Revenue,8.901400e+11,8.492600e+11,9.151500e+11,6.970000e+11,NaN
EBITDA,4.689200e+11,3.954200e+11,3.671900e+11,4.638100e+11,NaN
EBIT,3.575300e+11,2.879800e+11,2.612200e+11,3.746200e+11,NaN
Net Interest Income,-7.526000e+10,-7.779000e+10,-3.963000e+10,-2.905000e+10,NaN
Interest Expense,8.876000e+10,8.433000e+10,5.846000e+10,4.498000e+10,NaN
Interest Income,2.388000e+10,1.686000e+10,2.262000e+10,1.885000e+10,NaN
Normalized Income,1.342316e+11,2.232100e+10,1.073672e+11,1.927072e+11,NaN
Net Income From Continuing And Discontinued Operation,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Total Expenses,1.193660e+12,1.169650e+12,1.211190e+12,9.518200e+11,NaN
Rent Expense Supplemental,6.200000e+08,5.500000e+08,6.100000e+08,3.800000e+08,NaN
Total Operating Income As Reported,NaN,NaN,NaN,3.896270e+11,1.868520e+11
Diluted Average Shares,3.877900e+09,3.746400e+09,3.733900e+09,3.732037e+09,NaN
Basic Average Shares,3.846300e+09,3.717900e+09,3.709700e+09,3.706288e+09,NaN
Diluted EPS,3.865000e+01,1.133000e+01,2.832000e+01,5.038000e+01,NaN
Basic EPS,3.897000e+01,1.142000e+01,2.850000e+01,5.073000e+01,NaN
Diluted NI Availto Com Stockholders,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Net Income Common Stockholders,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Otherunder Preferred Stock Dividend,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
Net Income,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Minority Interests,-5.547000e+10,-3.300000e+10,-3.929000e+10,-4.908000e+10,NaN
Net Income Including Noncontrolling Interests,2.053500e+11,7.539000e+10,1.450300e+11,2.371000e+11,NaN
Net Income Extraordinary,-7.320000e+09,-6.520000e+10,2.740000e+09,NaN,NaN
Net Income Continuous Operations,2.053500e+11,7.539000e+10,1.450300e+11,2.371000e+11,NaN
Earnings From Equity Interest Net Of Tax,NaN,NaN,NaN,1.000000e+07,-1.000000e+07
Tax Provision,6.342000e+10,1.282600e+11,5.770000e+10,9.255000e+10,NaN
Pretax Income,2.687700e+11,2.036500e+11,2.027600e+11,3.296400e+11,NaN
Other Income Expense,NaN,NaN,NaN,-3.630000e+08,1.131300e+10
Other Non Operating Income Expenses,5.000000e+09,2.090000e+09,2.210000e+09,1.310000e+09,NaN
Special Income Charges,2.059000e+10,2.867000e+10,-2.260000e+09,-6.510000e+09,NaN
Other Special Charges,3.100000e+08,-2.682000e+10,9.790000e+09,6.400000e+09,NaN
Write Off,NaN,NaN,1.100000e+08,1.100000e+08,NaN
Impairment Of Capital Assets,-2.090000e+10,-1.850000e+09,-7.530000e+09,1.220000e+09,NaN
Restructuring And Mergern Acquisition,NaN,NaN,NaN,0.000000e+00,-1.232000e+09
Gain On Sale Of Security,NaN,NaN,NaN,-3.630000e+08,1.008100e+10
Net Non Operating Interest Income Expense,-7.526000e+10,-7.779000e+10,-3.963000e+10,-2.905000e+10,NaN
Total Other Finance Cost,1.038000e+10,1.032000e+10,3.790000e+09,2.920000e+09,NaN
Interest Expense Non Operating,8.876000e+10,8.433000e+10,5.846000e+10,4.498000e+10,NaN
Interest Income Non Operating,2.388000e+10,1.686000e+10,2.262000e+10,1.885000e+10,NaN
Operating Income,3.135900e+11,2.482800e+11,2.428500e+11,3.601000e+11,NaN
Operating Expense,3.035200e+11,3.203900e+11,2.960400e+11,2.548200e+11,NaN
Other Operating Expenses,2.705400e+11,2.836000e+11,2.547400e+11,2.120500e+11,NaN
Selling General And Administration,2.272000e+10,2.566000e+10,3.148000e+10,3.213000e+10,NaN
Selling And Marketing Expense,2.036000e+10,2.288000e+10,2.856000e+10,2.944000e+10,NaN
General And Administrative Expense,2.360000e+09,2.780000e+09,2.920000e+09,2.690000e+09,NaN
Other Gand A,NaN,NaN,NaN,5.020400e+10,3.946300e+10
Rent And Landing Fees,6.200000e+08,5.500000e+08,6.100000e+08,3.800000e+08,NaN
Salaries And Wages,NaN,NaN,NaN,2.811000e+10,2.861000e+10
Gross Profit,6.171100e+11,5.686700e+11,5.388900e+11,6.149200e+11,NaN
Cost Of Revenue,8.901400e+11,8.492600e+11,9.151500e+11,6.970000e+11,NaN
Total Revenue,1.507250e+12,1.417930e+12,1.454040e+12,1.311920e+12,NaN
Operating Revenue,1.507250e+12,1.417930e+12,1.454040e+12,1.311920e+12,NaN

In [ ]:
dat.funds_data

AttributeError: 'FundsData' object has no attribute 'getstate'

In [4]:
#dat.info
#dat.calendar
#dat.analyst_price_targets
#dat.quarterly_income_stmt
dat.history(period='5d')
#dat.option_chain(dat.options[0]).calls

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-09-08 00:00:00+05:30,441.000000,441.950012,433.350006,434.399994,11885826,0.0,0.0
2025-09-09 00:00:00+05:30,435.000000,437.899994,431.950012,432.799988,6379983,0.0,0.0
2025-09-10 00:00:00+05:30,435.000000,437.500000,432.000000,433.700012,5516735,0.0,0.0
2025-09-11 00:00:00+05:30,434.049988,439.799988,432.950012,437.700012,6964582,0.0,0.0
2025-09-12 00:00:00+05:30,440.000000,455.000000,439.100006,450.899994,15838929,0.0,0.0

In [58]:
import yfinance

In [67]:
def get_exchange_from_ticker(ticker: yfinance.ticker.Ticker) -> str:
    if str(ticker.info['symbol']).endswith(".NS"):
        return "NSE"
    elif str(ticker.info['symbol']).endswith(".BO"):
        return "BSE"
    return "UNKNOWN"

In [75]:
from connection import CRUD

In [74]:
import importlib
import connection  # first import
importlib.reload(connection)

In [76]:
lo_daily_update = CRUD("StockDailyUpdate")
lo_stockcode = CRUD("StockExchange_stockcode")

DataBase Disconnected
DataBase Disconnected

In [79]:
import pandas as pd

In [81]:
df_stockcode = pd.DataFrame(lo_stockcode.Read(''))

In [85]:
df_stockcode

              ISIN StockExchange      Symbol
0     IN9110D01011           BSE      570003
1     IN9155A01020           BSE      570001
2     IN9175A01010           BSE      570004
3     IN9175A01010           NSE  JISLDVREQS
4     IN9623B01058           BSE      570002
...            ...           ...         ...
3717  INE999A01023           NSE         KSB
3718  INE999B01013           BSE      526521
3719  INE999B01013           NSE   SANGHIIND
3720  INE999K01014           BSE      533263
3721  INE999K01014           NSE  GREENPOWER

[3722 rows x 3 columns]

In [90]:
sub = lambda a: 'NS' if a == 'NSE' else 'BO'

In [111]:
dat = yf.Ticker('570003.BO')
a = dat.history('1D')
a.shape[0]

$570003.BO: possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")

0

In [118]:
del cedl

In [ ]:
for i, code in df_stockcode[:2].iterrows():
    query_symbol = code['Symbol'] + '.' + sub(code['StockExchange'])
    dat = yf.Ticker(query_symbol)
    cedl = dat.history(period='10y')
    if cedl.shape[0] > 0:
        cedl["Date"] = cedl.index
        cedl["Date"] = cedl["Date"].dt.date
        cedl.insert(0, "Date", cedl.pop("Date"))
        #cedl.pop("Dividends")
        #cedl.pop("Stock Splits")
        cedl["delivery"] = 0
        cedl.insert(0, "Symbol",dat.info["symbol"].split(".")[0])
        cedl.insert(0, "StockExchange",get_exchange_from_ticker(dat))
        cedl = cedl[['StockExchange','Symbol','Date','Open','High','Low','Close','Volume','delivery']]
        #lo_daily_update.Create(cedl)
        print('Row ',i,' : ',query_symbol, " : ",cedl.shape[0], " records inserted")
        #del cedl

$570003.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1  :  570001.BO  :  2276  records inserted

In [121]:
cedl

,StockExchange,Symbol,Date,Open,High,Low,Close,Volume,Capital Gains,delivery
Date,,,,,,,,,,
2015-09-14 00:00:00-04:00,BSE,570001,2015-09-14,241.651357,247.814408,239.563865,246.969467,111270,0.0,0
2015-09-15 00:00:00-04:00,BSE,570001,2015-09-15,247.516196,250.249808,234.742764,238.023102,165888,0.0,0
2015-09-16 00:00:00-04:00,BSE,570001,2015-09-16,241.551950,241.551950,233.897838,238.967438,131525,0.0,0
2015-09-17 00:00:00-04:00,BSE,570001,2015-09-17,238.967438,238.967438,238.967438,238.967438,0,0.0,0
2015-09-18 00:00:00-04:00,BSE,570001,2015-09-18,234.991273,244.583777,231.959460,234.146347,453508,0.0,0
...,...,...,...,...,...,...,...,...,...,...
2024-10-07 00:00:00-04:00,BSE,570001,2024-10-07,765.150024,765.150024,765.150024,765.150024,0,0.0,0
2024-10-08 00:00:00-04:00,BSE,570001,2024-10-08,765.150024,765.150024,765.150024,765.150024,0,0.0,0
2024-10-09 00:00:00-04:00,BSE,570001,2024-10-09,765.150024,765.150024,765.150024,765.150024,0,0.0,0
2024-10-10 00:00:00-04:00,BSE,570001,2024-10-10,765.150024,765.150024,765.150024,765.150024,0,0.0,0
2024-10-11 00:00:00-04:00,BSE,570001,2024-10-11,765.150024,765.150024,765.150024,765.150024,0,0.0,0

In [100]:
dat = yf.download('570003.BO',period='1d',interval='1m')

C:\Users\Ravi\AppData\Local\Temp\ipykernel_20372\1355577963.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dat = yf.download('570003.BO',period='1d',interval='1m')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['570003.BO']: YFPricesMissingError('possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")')

In [44]:
dat.columns[2][0]

'Low'

In [46]:
dat

Price,Close,High,Low,Open,Volume
Ticker,500295.BO,500295.BO,500295.BO,500295.BO,500295.BO
Datetime,,,,,
2025-09-12 13:30:00+00:00,450.950012,455.0,439.049988,439.049988,1217495

In [48]:
dat = yf.Ticker("500295.BO")

In [70]:
cedl = dat.history(period='10y')

cedl["Date"] = cedl.index
cedl["Date"] = cedl["Date"].dt.date
cedl.insert(0, "Date", cedl.pop("Date"))
cedl.pop("Dividends")
cedl.pop("Stock Splits")
cedl["delivery"] = 0
cedl.insert(0, "Symbol",dat.info["symbol"].split(".")[0])
cedl.insert(0, "StockExchange",get_exchange_from_ticker(dat))

In [71]:
cedl

,StockExchange,Symbol,Date,Open,High,Low,Close,Volume,Capital Gains,delivery
Date,,,,,,,,,,
2015-09-14 00:00:00-04:00,BSE,500295,2015-09-14,30.523004,31.856914,30.177757,31.699984,1111573,0.0,0
2015-09-15 00:00:00-04:00,BSE,500295,2015-09-15,31.699981,31.699981,30.303300,30.413151,912784,0.0,0
2015-09-16 00:00:00-04:00,BSE,500295,2015-09-16,31.291966,31.668601,30.523007,31.056570,896142,0.0,0
2015-09-17 00:00:00-04:00,BSE,500295,2015-09-17,31.056570,31.056570,31.056570,31.056570,0,0.0,0
2015-09-18 00:00:00-04:00,BSE,500295,2015-09-18,31.621526,31.919694,30.758408,31.087963,969355,0.0,0
...,...,...,...,...,...,...,...,...,...,...
2025-09-08 00:00:00-04:00,BSE,500295,2025-09-08,440.049988,442.450012,433.000000,434.399994,494056,0.0,0
2025-09-09 00:00:00-04:00,BSE,500295,2025-09-09,437.000000,437.700012,432.000000,432.500000,444474,0.0,0
2025-09-10 00:00:00-04:00,BSE,500295,2025-09-10,436.299988,437.200012,432.500000,433.649994,749401,0.0,0
2025-09-11 00:00:00-04:00,BSE,500295,2025-09-11,435.000000,439.750000,432.899994,437.600006,805830,0.0,0
2025-09-12 00:00:00-04:00,BSE,500295,2025-09-12,439.049988,455.000000,439.049988,450.950012,1217495,0.0,0

In [27]:
dat.info

{'quoteType': 'MUTUALFUND',
 'symbol': '500295.BO',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Fund',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': False,
 'customPriceAlertConfidence': 'NONE',
 'epsTrailingTwelveMonths': 48.72,
 'sharesOutstanding': 3708509952,
 'bookValue': 106.26,
 'fiftyDayAverage': 279.106,
 'hasPrePostMarketData': False,
 'tradeable': False,
 'cryptoTradeable': False,
 'fiftyTwoWeekRange': '206.1 - 340.75',
 'fiftyTwoWeekLow': 206.1,
 'fiftyTwoWeekHigh': 340.75,
 'fiftyTwoWeekChangePercent': -6.884986,
 'earningsTimestampStart': 1713956340,
 'earningsTimestampEnd': 1714392000,
 'trailingAnnualDividendRate': 81.0,
 'fullExchangeName': 'YHD',
 'financialCurrency': 'INR',
 'averageDailyVolume3Month': 1309440,
 'averageDailyVolume10Day': 708186,
 'longName': 'Vedanta Limited',
 'marketState': 'CLOSED',
 'firstTradeDateMilliseconds': 663345000000,
 'priceHint': 2,
 'twoHundredDayAverage': 291.27676,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'exchange': 'YHD',
 'messageBoardId': 'finmb_878252',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'esgPopulated': False,
 'corporateActions': [],
 'regularMarketTime': 1561759658,
 'trailingPegRatio': None}

In [16]:
lo_daily_update.Create(cedl)

In [ ]:
df_vedl = dat.balance_sheet

In [31]:
pip install nsepy

Collecting nsepy
  Using cached nsepy-0.8-py3-none-any.whl
Requirement already satisfied: beautifulsoup4 in c:\projects\market\venv\lib\site-packages (from nsepy) (4.13.4)
Requirement already satisfied: requests in c:\projects\market\venv\lib\site-packages (from nsepy) (2.32.5)
Requirement already satisfied: numpy in c:\projects\market\venv\lib\site-packages (from nsepy) (2.3.2)
Requirement already satisfied: pandas in c:\projects\market\venv\lib\site-packages (from nsepy) (2.3.2)
Requirement already satisfied: six in c:\projects\market\venv\lib\site-packages (from nsepy) (1.17.0)
Collecting click (from nsepy)
  Using cached click-8.2.1-py3-none-any.whl.metadata (2.5 kB)
Collecting lxml (from nsepy)
  Using cached lxml-6.0.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: soupsieve>1.2 in c:\projects\market\venv\lib\site-packages (from beautifulsoup4->nsepy) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\projects\market\venv\lib\site-packages (from beautifulsoup4->nsepy) (4.14.1)
Requirement already satisfied: colorama in c:\projects\market\venv\lib\site-packages (from click->nsepy) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\projects\market\venv\lib\site-packages (from pandas->nsepy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\projects\market\venv\lib\site-packages (from pandas->nsepy) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\projects\market\venv\lib\site-packages (from pandas->nsepy) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\projects\market\venv\lib\site-packages (from requests->nsepy) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\projects\market\venv\lib\site-packages (from requests->nsepy) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\projects\market\venv\lib\site-packages (from requests->nsepy) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\projects\market\venv\lib\site-packages (from requests->nsepy) (2025.8.3)
Using cached click-8.2.1-py3-none-any.whl (102 kB)
Using cached lxml-6.0.1-cp313-cp313-win_amd64.whl (4.0 MB)
Installing collected packages: lxml, click, nsepy

   ---------------------------------------- 0/3 [lxml]
   ---------------------------------------- 0/3 [lxml]
   ---------------------------------------- 0/3 [lxml]
   ------------- -------------------------- 1/3 [click]
   ------------- -------------------------- 1/3 [click]
   -------------------------- ------------- 2/3 [nsepy]
   -------------------------- ------------- 2/3 [nsepy]
   ---------------------------------------- 3/3 [nsepy]

Successfully installed click-8.2.1 lxml-6.0.1 nsepy-0.8
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
from nsepy import get_history
import datetime

data = get_history(
    symbol="VEDL",
    start=datetime.date(2025,1,1),
    end=datetime.date(2025,12,31)
)
print(data.head())

ValueError: cannot remove local variables from FrameLocalsProxy

# NSE Tools API

In [ ]:
#pip install nsetools
import nsetools as nse
from nsetools import Nse
import bsetools as bse

In [ ]:
nse1 = Nse()
#stock = nse1.get_quote('INFY')
#nse1.get_52_week_high()
nse1.get_top_gainers()
#print(stock)

In [ ]:
nse_stocks = nse.get_stock_codes()
len(nse_stocks)

In [ ]:
nse.get_all_index_quote()

# Breeze-Connect API

In [ ]:
#pip install breeze-connect
import breeze_connect

# HTTP Call to API

In [67]:
import requests

headers = {
    "User-Agent": "Mozilla/5.0"
}
url = "https://www.nseindia.com/api/search/autocomplete?q=VEDL"
#url = "https://www.nseindia.com/get-quotes/equity?symbol=VEDL"

response = requests.get(url, headers=headers)
print(response.json())
print(response.status_code)

{'symbols': [{'symbol': 'VEDL', 'symbol_info': 'Vedanta Limited', 'symbol_suggest': [{'input': 'VEDL', 'weight': 20}, {'input': 'Vedanta Limited', 'weight': 15}], 'result_type': 'symbol', 'result_sub_type': 'equity', 'activeSeries': ['EQ', 'T0'], 'listing_date': '1998-05-13', 'url': '/get-quotes/equity?symbol=VEDL'}], 'mfsymbols': [], 'search_content': [{'title': 'List of Underlyings and Information', 'content': 'LIMITEDTITAN175TORRENT\nPHARMACEUTICALS LIMITEDTORNTPHARM176TRENT LIMITEDTRENT177TVS MOTOR COMPANY LIMITEDTVSMOTOR178ULTRATECH CEMENT LIMITED\nULTRACEMCO179UNITED BREWERIES LIMITEDUBL180UNITED SPIRITS LIMITEDMCDOWELL-N181UPL LIMITEDUPL182VEDANTA <b>LIMITEDVEDL183</b>', 'url': '/products-services/equity-derivatives-list-underlyings-information', 'result_type': 'content', 'result_sub_type': 'content'}], 'sitemap': []}
200

In [68]:
import requests

headers = {
    "User-Agent": "Mozilla/5.0"
}
#url = "https://www.nseindia.com/api/search/autocomplete?q=VEDL"
url = "https://www.nseindia.com/get-quotes/equity?symbol=VEDL"

response = requests.get(url, headers=headers)
print(response.status_code)

200

# Others

In [3]:
def mixed_function(greeting, *args, **kwargs):
    print(greeting)
    for arg in args:
        print(f"Positional arg: {arg}")
    for key, value in kwargs.items():
        print(f"{key} = {value}")

mixed_function(
    "Hello!",
    "Alice", "Bob",
    age=25, city="Paris"
)

Hello!
Positional arg: Alice
Positional arg: Bob
age = 25
city = Paris

In [162]:
import importlib
import connection
importlib.reload(connection)

In [152]:
a = connection.RangeParser(connection.RangeParser.get_initial_rangetable())

In [159]:
filter = [
    connection.RangeTable(
        fieldname='CountryId',
        sign='I',
        option='EQ',
        low='1',
        high=''
    )
]

In [163]:
b = connection.RangeParser(filter)

In [164]:
b.get_parsed()

'CountryId = 1'

In [165]:
from moviepy.videotools import VideoFileClip

ModuleNotFoundError: No module named 'moviepy.videotools'

In [167]:
import moviepy
from pytube import YouTube

In [172]:
url = "https://www.youtube.com/watch?v=mr8GBzTsWqM"
yt = YouTube(url)

In [173]:
yt.title

HTTPError: HTTP Error 400: Bad Request